/* 
Bootstrap -> 4.0  

----------------------------------------
<576px	   Extra small     .col
>576px	   Small           .col-sm 
>768px	   Medium          .col-md     
>992px	   Large           .col-lg     
>1200px    Extra large     .col-xl     
----------------------------------------

Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
    form.create-note,
    .note {
        width: 90%;
    }
    header h1{
        font-size: 18px;
        padding-top: 17px;
    }
    .login h1{
        font-size: 36px;
    }
    .login h2{
        font-size: 20px;
    }
    .login h3{
        font-size: 36px;
    }

    li{
        font-size: 12px;
    }

    .login img{
        text-align: right;
        height: 80px;
      }

    footer{
        position: relative;
        margin-top: 10%;
    }
    .login .page{
        margin-bottom: 10%;
    }
    .login .page-user{
        margin-top: 10%;
        border-left: 0px;
        margin-left: 20px;
    }

    .login .container-fluid {
        margin: 15% -15px 25% -15px;
    }

    .login .page:after {
        display: block;
        height: 2px;
        background-color: #fba746;
        content: " ";
        width: 40%;
        margin-left: 23%;
        margin-top: 20%;
    }
}


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {
    form.create-note,
    .note {
        width: 75%;
    }

    footer{
        position: relative;
        margin-top: 10%;
    }

    .login h2{
        font-size: 24px;
    }
    
    li{
        font-size: 16px;
    }
    .login .page{
        margin-bottom: 10%;
    }
    .login .page-user{
        margin-top: 10%;
        border-left: 0px;
        margin-left: 20px;
    }
    .login .container-fluid {
        margin: 15% -15px 15% -15px;
    }
    .login .page:after {
        display: block;
        height: 2px;
        background-color: #fba746;
        content: " ";
        width: 40%;
        margin-left: 23%;
        margin-top: 20%;
    }
}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {
    footer{
        position: relative;
        margin-top: 10%;
    }

    .login .page{
        margin-bottom: 10%;
    }
    .login .page-user{
        margin-top: 10%;
        border-left: 0px;
        margin-left: 20px;
    }
    .login .container-fluid {
        margin: 15% -15px 15% -15px;
    }
    .login .page:after {
        display: block;
        height: 2px;
        background-color: #fba746;
        content: " ";
        width: 40%;
        margin-left: 23%;
        margin-top: 20%;
    }
}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}

@media (max-height: 650px) {
    footer{
        position: relative;
        margin-top: 10%;
    }
}